apispec==4.3.0
apispec-webframeworks==0.5.2
flask_jwt_extended
flask-compress
flask_cors
flask_sqlalchemy
Fabric3==1.14.post1
Flask==1.1.2
Flask-Migrate==2.7.0
flask-apispec==0.11.0
gunicorn
marshmallow==3.10.0
psycopg2-binary==2.8.6
pytest
pyyaml
webargs==7.0.1
