apispec==4.3.0
apispec-webframeworks==0.5.2
Flask==1.1.2
marshmallow==3.10.0
flask_jwt_extended
flask_sqlalchemy
flask_cors
flask-apispec==0.11.0
pytest
Fabric3==1.14.post1
gunicorn
flask-compress
pyyaml
psycopg2-binary==2.8.6
webargs==7.0.1
