apispec==4.3.0
apispec-webframeworks==0.5.2
flask-compress==1.10.1
flask_cors==3.0.10
flask_sqlalchemy
Fabric3==1.14.post1
Flask==1.1.2
Flask-Migrate==2.7.0
flask-apispec==0.11.0
gunicorn==20.1.0
marshmallow==3.10.0
psycopg2-binary==2.8.6
pytest==6.2.5
pyyaml==6.0
webargs==7.0.1
